html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*---------------------------------------------------------------------------------------------------------------------------------*/

:root {
  --yellow-pastel: #f5fac8;
  --blue-pastel: #aee8e6;
}

.container {
  width: min-content;
  margin: 0 auto;
}

.search {
  width: 60vw;
  height: 8vh;
  font-size: 1.7rem;
  border: 2px solid gray;
  border-radius: 4vh;
  -webkit-border-radius: 4vh;
  -moz-border-radius: 4vh;
  -ms-border-radius: 4vh;
  -o-border-radius: 4vh;
  outline: none;
  padding: 0 10px;
  box-sizing: border-box;
  margin-top: 10px;
  background-color: var(--blue-pastel);
}

.search::placeholder {
  color: gray;
}

.search:hover,
.search:focus {
  border: 2px solid black;
}

.change-search {
  border-color: gray;
  background-color: var(--yellow-pastel);
}

.data-container {
  display: none;
  background-color: white;
  padding: 0 1rem 1rem;
  margin-top: -8vh;
  padding-top: 6vh;
  box-sizing: border-box;
  border-radius: 4vh;
  -webkit-border-radius: 4vh;
  -moz-border-radius: 4vh;
  -ms-border-radius: 4vh;
  -o-border-radius: 4vh;
  border: 2px solid gray;
}

ul {
  width: 100%;
  display: inline-block;
  margin-top: 2rem;
  font-size: 2rem;
  border: 3px solid black;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 2vh;
  -webkit-border-radius: 2vh;
  -moz-border-radius: 2vh;
  -ms-border-radius: 2vh;
  -o-border-radius: 2vh;
}

li {
  width: 100%;
}

.data {
  float: right;
}

@media only screen and (max-width: 600px) {
  .search {
    width: 70vw;
  }
}
